.supply-view {

    .supply-card {
        width: auto!important;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
        flex: 1;
        min-width: 0;
    }

    &_card-row {
        display: flex;
        flex-direction: row;
        flex: 0;
    }
}